{
  "extends": "@beyondessential/js",
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/cypress/**",
          "jest.setup.js",
          "**/migrations/**",
          "**/scripts/**",
          "**/stories/**",
          "**/tests/**",
          "**/__tests__/**"
        ],
        "packageDir": ["../../", "."]
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "^@tupaia/access-policy$",
          "^@tupaia/aggregator$",
          "^@tupaia/auth$",
          "^@tupaia/data-api$",
          "^@tupaia/data-broker$",
          "^@tupaia/database$",
          "^@tupaia/dhis-api$",
          "^@tupaia/utils$"
        ]
      }
    ],
    "jsx-a11y/href-no-hash": "off"
  },
  "overrides": [
    {
      "files": ["packages/database/src/migrations/**"],
      "rules": {
        "func-names": "off",
        "no-underscore-dangle": "off",
        "no-unused-vars": "off",
        "no-var": "off",
        "strict": "off",
        "prettier/prettier": "off"
      }
    },
    {
      "files": ["scripts/**"],
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "packageDir": ["."] }]
      }
    },
    {
      "files": "**/src/tests/**",
      "env": {
        "mocha": true
      },
      "rules": {
        "func-names": "off",
        "no-unused-expressions": "off"
      }
    },
    {
      "files": ["**/webpack.config.js", "**/webpack.config*[!babel].js"],
      "rules": {
        "prefer-object-spread": "off"
      }
    }
  ]
}
