{
  "extends": "@beyondessential/js",
  "parser": "babel-eslint",
  "rules": {
    "global-require": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/cypress/**",
          "**/migrations/**",
          "**/stories/**",
          "**/tests/**",
          "**/__tests__/**",
          "jest.setup.js",
          "**/packages/database/src/testUtilities/**",
          "**/packages/psss/src/api/FakeApi.js",
          "**/packages/psss/src/utils/test-utils.js",
          "**/packages/ui-components/helpers/testingRenderer.js",
          "**/packages/utils/src/runScript.js",
          "**/packages/utils/src/Script.js",
          "**/packages/web-frontend/config/**",
          "**/packages/web-frontend/scripts/**"
        ],
        "packageDir": ["../../", "."]
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "react/destructuring-assignment": "off",
    "react/no-unescaped-entities": "off"
  },
  "overrides": [
    // TypeScript packages
    {
      "files": [
        "packages/admin-panel-server/**",
        "packages/api-client/**",
        "packages/data-api/**",
        "packages/data-lake-api/**",
        "packages/data-table-server/**",
        "packages/datatrak-server/**",
        "packages/entity-server/**",
        "packages/indicators/**",
        "packages/lesmis-server/**",
        "packages/meditrak-app-server/**",
        "packages/psss-server/**",
        "packages/report-server/**",
        "packages/server-boilerplate/**",
        "packages/supserset-api/**",
        "packages/tsutils/**"
      ],
      "extends": "@beyondessential/ts",
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": ["jest.setup.ts", "global.d.ts"],
            "packageDir": ["../../", "."]
          }
        ]
      }
    },
    // Packages using jest
    {
      "files": ["packages/**/__tests__/**", "packages/web-frontend/src/tests/**"],
      "extends": "@beyondessential/jest"
    },
    // Frontend packages
    {
      "files": [
        "packages/admin-panel/**",
        "packages/lesmis/**",
        "packages/psss/**",
        "packages/ui-components/**",
        "packages/web-frontend/**"
      ],
      "env": {
        "browser": true
      }
    },
    // Overrides per file pattern
    {
      "files": ["**/cypress/**", "packages/utils/src/cypress.js"],
      "extends": "plugin:cypress/recommended",
      "env": {
        "browser": true,
        "cypress/globals": true
      },
      "rules": {
        "cypress/no-force": "error",
        "no-unused-expressions": "off"
      }
    },
    {
      "files": "**/__integration/**",
      "rules": {
        "jest/no-standalone-expect": "off"
      }
    },
    {
      "files": "**/__tests__/**",
      "rules": {
        "jest/valid-expect": ["error", { "maxArgs": 2 }],
        "no-new": "off"
      }
    },
    {
      "files": "**/tests/**",
      "env": {
        "mocha": true
      },
      "rules": {
        "func-names": "off",
        "no-unused-expressions": "off"
      }
    },
    {
      "files": "jest.config.js",
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": "jest.setup.js",
      "env": {
        "jest": true
      }
    },
    // Root folder overrides
    {
      "files": ["jest.setup.js", "scripts/**"],
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "packageDir": ["."] }]
      }
    },
    // Package overrides
    {
      "files": "packages/database/src/migrations/**",
      "rules": {
        "func-names": "off",
        "no-underscore-dangle": "off",
        "no-unused-vars": "off",
        "no-var": "off",
        "strict": "off"
      }
    },
    {
      "files": ["packages/meditrak-app/**"],
      "plugins": ["react-native"],
      // "env": {
      //   "react-native/react-native": true
      // },
      "rules": {
        "react/destructuring-assignment": "off",
        "react/prop-types": ["error", { "ignore": ["navigation"] }]
      }
    },
    {
      "files": ["packages/ui-components/**"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["packages/web-config-server/**"],
      "plugins": ["module-resolver"],
      "rules": {
        "import/no-absolute-path": "off",
        "module-resolver/use-alias": "warn"
      },
      "settings": {
        "import/resolver": {
          "babel-module": {}
        }
      }
    },
    {
      "files": ["packages/web-frontend/**"],
      "rules": {
        "camelcase": "warn",
        "import/no-named-as-default": "off",
        "no-debugger": "warn",
        "import/no-cycle": "warn",
        "jsx-a11y/click-events-have-key-events": "warn",
        "jsx-a11y/no-noninteractive-element-interactions": "warn",
        "jsx-a11y/no-static-element-interactions": "warn",
        "no-dupe-keys": "warn",
        "no-param-reassign": "warn",
        "no-restricted-properties": "warn",
        "no-shadow": "warn",
        "no-unsafe-finally": "warn",
        "no-useless-catch": "warn",
        "no-unused-vars": "warn",
        "react/button-has-type": "warn",
        "react/default-props-match-prop-types": "warn",
        "react/no-unused-prop-types": "warn",
        "react/no-array-index-key": "warn",
        "react/forbid-prop-types": "warn",
        "react/prop-types": "warn",
        "react/prefer-stateless-function": "warn",
        "react/require-default-props": "warn",
        "react/state-in-constructor": "warn",
        "react/static-property-placement": "warn",
        "prefer-destructuring": "warn",
        "prettier/prettier": "warn"
      }
    }
  ]
}
