*.env*
!*.env.example*
.DS_Store
**/node_modules
**/coverage
**/builds
**/build
**/dist
**/lib
*.log*
.nyc_output
*.aes
*.code-workspace
*.pem
codeship_deploy_key.pub
codeship_deploy_key
dump.sql
*.todo
**/cypress/screenshots
**/cypress/videos
/snapshots.js
.idea
dockercfg
packages/.vscode/settings.json
**/testRequests/*.http
*:Zone.Identifier
