*.env*
!*.env.example*
!*.env.*.example*
!*.env.encrypted*
.DS_Store
**/node_modules
**/coverage
**/builds
**/build
**/dist
**/lib
*.log*
.nyc_output
*.aes
*.code-workspace
*.pem
dump.sql
*.todo
**/cypress/screenshots
**/cypress/videos
/snapshots.js
.idea
dockercfg
packages/.vscode/settings.json
**/testRequests/*.http
*:Zone.Identifier
.gradle

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
# yarn end
