ADMIN_PANEL_SERVER_API_URL="http://localhost:8070/v1"
AUTH_API_URL="http://localhost:8090/v2"
CENTRAL_API_URL="http://localhost:8090/v2"
DATA_TABLE_API_URL="http://localhost:8010/v1"
DATATRAK_WEB_SERVER_API_URL="http://localhost:8110/v1"
ENTITY_API_URL="http://localhost:8050/v1"
REPORT_API_URL="http://localhost:8030/v1"
TUPAIA_WEB_SERVER_API_URL="http://localhost:8100/v1"
WEB_CONFIG_API_URL="http://localhost:8000/api/v1"
SYNC_API_URL="http://localhost:8120/v1"
