EXT_DB_australia_flutracking_HOST=
EXT_DB_australia_flutracking_PORT=
EXT_DB_australia_flutracking_DATABASE=
EXT_DB_australia_flutracking_USER=
EXT_DB_australia_flutracking_PASSWORD=

EXT_DB_bes_HOST=
EXT_DB_bes_PORT=
EXT_DB_bes_DATABASE=
EXT_DB_bes_USER=
EXT_DB_bes_PASSWORD=

EXT_DB_dagster_HOST=
EXT_DB_dagster_PORT=
EXT_DB_dagster_DATABASE=
EXT_DB_dagster_USER=
EXT_DB_dagster_PASSWORD=

EXT_DB_data_lake_HOST=
EXT_DB_data_lake_PORT=
EXT_DB_data_lake_DATABASE=
EXT_DB_data_lake_USER=
EXT_DB_data_lake_PASSWORD=

EXT_DB_fiji_HOST=
EXT_DB_fiji_PORT=
EXT_DB_fiji_DATABASE=
EXT_DB_fiji_USER=
EXT_DB_fiji_PASSWORD=

EXT_DB_fiji_flutracking_HOST=
EXT_DB_fiji_flutracking_PORT=
EXT_DB_fiji_flutracking_DATABASE=
EXT_DB_fiji_flutracking_USER=
EXT_DB_fiji_flutracking_PASSWORD=

EXT_DB_msupply_scheduled_HOST=
EXT_DB_msupply_scheduled_PORT=
EXT_DB_msupply_scheduled_DATABASE=
EXT_DB_msupply_scheduled_USER=
EXT_DB_msupply_scheduled_PASSWORD=

EXT_DB_niwa_HOST=
EXT_DB_niwa_PORT=
EXT_DB_niwa_DATABASE=
EXT_DB_niwa_USER=
EXT_DB_niwa_PASSWORD=

EXT_DB_palau_msupply_HOST=
EXT_DB_palau_msupply_PORT=
EXT_DB_palau_msupply_DATABASE=
EXT_DB_palau_msupply_USER=
EXT_DB_palau_msupply_PASSWORD=

EXT_DB_samoa_HOST=
EXT_DB_samoa_PORT=
EXT_DB_samoa_DATABASE=
EXT_DB_samoa_USER=
EXT_DB_samoa_PASSWORD=

EXT_DB_samoa_hclews_HOST=
EXT_DB_samoa_hclews_PORT=
EXT_DB_samoa_hclews_DATABASE=
EXT_DB_samoa_hclews_USER=
EXT_DB_samoa_hclews_PASSWORD=

EXT_DB_samoa_penfaa_HOST=
EXT_DB_samoa_penfaa_PORT=
EXT_DB_samoa_penfaa_DATABASE=
EXT_DB_samoa_penfaa_USER=
EXT_DB_samoa_penfaa_PASSWORD=

EXT_DB_tonga_HOST=
EXT_DB_tonga_PORT=
EXT_DB_tonga_DATABASE=
EXT_DB_tonga_USER=
EXT_DB_tonga_PASSWORD=

EXT_DB_unfpa_HOST=
EXT_DB_unfpa_PORT=
EXT_DB_unfpa_DATABASE=
EXT_DB_unfpa_USER=
EXT_DB_unfpa_PASSWORD=
