EXT_DB_niwa_PORT=
EXT_DB_niwa_DATABASE=
EXT_DB_niwa_USER=
EXT_DB_niwa_PASSWORD=
EXT_DB_niwa_HOST=
EXT_DB_data_lake_HOST=
EXT_DB_data_lake_PORT=
EXT_DB_data_lake_DATABASE=
EXT_DB_data_lake_USER=
EXT_DB_data_lake_PASSWORD=
EXT_DB_msupply_scheduled_HOST=
EXT_DB_msupply_scheduled_PORT=
EXT_DB_msupply_scheduled_DATABASE=
EXT_DB_msupply_scheduled_USER=
EXT_DB_msupply_scheduled_PASSWORD=
