IS_PRODUCTION_ENVIRONMENT="false"
JWT_SECRET=
SESSION_COOKIE_SECRET=
TRUSTED_PROXY_IPS=

# Deprecated, but still required. Used to authenticate API clients that haven’t yet been migrated to
# Argon2.
# @see `@tupaia/database/src/core/modelClasses/ApiClient`
API_CLIENT_SALT=
